<!DOCTYPE html>
<html>
  <head>
    <title>Md Islam - Developer &middot; Designer &middot; Freelancer</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="styles/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
  </head>

  <body>

    <section id="header" class="hero">
      <div class="hero-body">
        <div class="container">
          <center><div class="outer-circular"><div class="circular"></div></div></center>
          <h1 class="title">
            MD ISLAM
          </h1>
          <h2 class="subtitle">
            Developer &middot; Designer &middot; Hacker
          </h2>
          <p>
            <i>Software Engineer at <a href="https://catalogicsoftware.com">Catalogic Software</a></i>
          </p>          
          <br><br>
          
          <p class="fancy" style="margin-top:-15px; margin-bottom:-15px;"><span><a class="button is-dark is-medium" 
           onclick="alert('Not currently searching for new opportunities but feel free to send me an email: hello@mdislam.com')">My Résumé</a></span></p>
          
        </div>
      </div>
    </section>

    <div class="main-content">
	
      
      <h3 class="title">Current Projects</h3>

      {% include 'sections/current_projects.html' %}

      <h3 class="title">Portfolio</h3>
      
      {% include 'sections/published_projects.html' %} 

      <h3 class="title" style="margin-top:45px;">Activities</h3>

      {% include 'sections/activities.html' %} 

      <h3 class="title">Hackathon &amp; DIY Projects</h3>

      {% include 'sections/hackathon_projects.html' %} 
	

      <footer class="footer">
        <div class="container">
          <div class="addthis_horizontal_follow_toolbox"></div>
      	  <br><br>
      	  <a href="mailto:hello@mdislam.com">hello@mdislam.com</a>
        </div>
      </footer>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
      function changeColor(header){
        header.style.backgroundColor = getRandomColor();
        document.getElementById('clickHere').style.display = 'none';
      }
      
      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }
    </script>
   
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-68990077-1', 'auto');
      ga('send', 'pageview');
    
    </script>
    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-573fa19fcf9c2a71"></script>
    
  </body>
</html>
