<div id="projects" class="container">
	<div class="columns">
          
	        <a class="column" href="https://github.com/LinxSolutions" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/linx.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Linx</div>
                    Learn a new language by watching Netflix.
                    <br>
                    <small>React-Native, Electron, Flask</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

          <a class="column" href="https://github.com/Phishly" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/phishly.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Phishly</div>
                    Train your employees through custom spear phishing attacks.
                    <br>
                    <small>React, Flask, Tensorflow</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

          <a class="column" href="https://github.com/naked-bear" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/nakedbear.png" alt="">
                  </figure>
                </div>
	         <div class="card-content">
                  <div class="content">
                    <div class="title is-5">NakedBear</div>
                    Generate a secure url for any file on your computer to share it with the world.
                    <br>
                    <small>React, Electron, Flask</small>
                  </div>
                </div>
	     </div>
            </center>
          </a>

       </div>




        <div class="columns">
          
	  <a class="column" href="https://itunes.apple.com/us/app/impulsehacker/id1251164412?mt=8" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/impulsehack.png" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Impulse Hack</div>
                    Mobile application to register and track impulses.
                    <br>
                    <small>React-Native, D3.js, Sketch</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

          <a class="column" href="https://chrome.google.com/webstore/detail/opin-comment-anywhere/fenapelkfdoiabgffckohbbfggldadek?hl=en-US&amp;gl=US" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/opin.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">OpIn</div>
                    Chrome extension used to comment on any website.
                    <br>
                    <small>JavaScript, MongoDB, AWS</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

          <a class="column" href="https://play.google.com/store/apps/details?id=com.aqurytech.savemypasswords" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/passcode.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Passcode</div>
                    Android app that saves all your passwords locally on your device.
                    <br>
                    <small>Java</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
        </div>


        <div class="columns">
          <a class="column" href="https://play.google.com/store/apps/details?id=com.aqurytech.easybuild" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/easy_build.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Easy Build</div>
                    Install and run your Android app more efficiently.
                    <br>
                    <small>Java, Dropbox API</small>
                  </div>
                </div>
              </div>
            </center>
          </a>


          <a class="column" href="https://play.google.com/store/apps/details?id=com.onestepsearch.onestepsearch" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/1step_search.png" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">1Step Search</div>
                    Search and download videos, music, photos and more.
                    <br>
                    <small>Java, Python, PHP, MySQL, PayPal API</small>
                  </div>
                </div>
              </div>
            </center>
          </a>


          <a class="column" href="https://devpost.com/software/peer-wifi-x8clai" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/peer_wifi.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Peer Wifi</div>
                    Buy and sell your mobile hotspot data through tethering.
                    <br>
                    <small>Java, Python, AWS, MongoDB</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
        </div>
        
        <div class="columns">
          <a class="column" href="https://play.google.com/store/apps/details?id=com.rutgersrailorbus" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/runbusorrail.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Rutgers Newark: Bus or Rail</div>
                    Should I take the Rutgers Bus or the Newark Light Rail?
                    <br>
                    <small>React Native, Python</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
          
          <a class="column" href="http://www.freecollegepdfs.com/" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/freecollegepdfs.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Free College PDFs</div>
                    Download and upload college textbooks for free.
                    <br>
                    <small>PHP, JavaScript, MySQL</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
          
          <a class="column" href="https://hackrun.org" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/hackrun.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">HackRUN</div>
                    The first hackathon at Rutgers University Newark.
                    <br>
                    <small>Python, JavaScript, MailChimp</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
          
        </div>
	
	
	<div class="columns">
	  <a class="column" href="https://play.google.com/store/apps/details?id=com.pinetree" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/pinetree.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Pinetree</div>
                    Message people in your area anonymously for free.
                    <br>
                    <small>React Native, Firebase</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

	  <a class="column" href="https://play.google.com/store/apps/details?id=io.hackharvard.emotification" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/emotification.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Emotification</div>
                    Hear emotionally informed notification tones on Android.
                    <br>
                    <small>Java, Python, AWS, Natural Language Processing</small>
                  </div>
                </div>
              </div>
            </center>
          </a>


	<a class="column" href="https://play.google.com/store/apps/details?id=com.mdislam.screengiff" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/screengif.png" alt="" style="margin-left:90px;">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Screengif</div>
                    Record and Share Your Phone Screen as a GIF.
                    <br>
                    <small>Java, FFMPEG</small>
                  </div>
                </div>
              </div>
            </center>
          </a>



	</div>



	<div class="columns">
		
		<a class="column" href="https://chrome.google.com/webstore/detail/workspaces/eehocaoejekpmecmfecdkpohdkgkmoee" target="_blank">
		    <center>
		      <div class="card">
			<div class="card-image">
			  <figure class="image is-2by1">
			    <img class="image-logo" src="images/workspaces.png" alt="" style="margin-left:90px;">
			  </figure>
			</div>
			<div class="card-content">
			  <div class="content">
			    <div class="title is-5">Workspaces</div>
			    Save all your current tabs and come back to them later.
			    <br>
			    <small>JavaScipt</small>
			  </div>
			</div>
		      </div>
		    </center>
		  </a>		
		

		<a class="column" href="https://chrome.google.com/webstore/detail/gitreacts/lfjdffifadldpedgddbnaehkecnocdhb" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/gitreacts.png" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">GitReacts</div>
                    Facebook-like reactions for GitHub repositories.
                    <br>
                    <small>Flask, JavaScript, MongoDB</small>
                  </div>
                </div>
              </div>
            </center>
          </a>




		
		<a class="column" href="http://newark.gslsamp.rutgers.edu" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/lsamp.jpg" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Newark LSAMP</div>
                    Website for LSAMP program in Rutgers University Newark.
                    <br>
                    <small>PHP, JavaScript, MySQL</small>
                  </div>
                </div>
              </div>
            </center>
          </a>



	</div>




	<div class="columns">



		<a class="column" href="https://chrome.google.com/webstore/detail/jsblocks/icpmhilfekpdgkfliliocpagfleebggh" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/jsblocks.png" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">jsblocks</div>
                    Simple way to block annoying content on any website.
                    <br>
                    <small>JavaScript</small>
                  </div>
                </div>
              </div>
            </center>
          </a>

           <a class="column" href="https://github.com/SalusMind" target="_blank">
	  <center>
	    <div class="card">
	      <div class="card-image">
		<figure class="image is-2by1">
		  <img class="image-logo" src="images/salusmind.png" alt="">
		</figure>
	      </div>
	      <div class="card-content">
		<div class="content">
		  <div class="title is-5">Salus Mind</div>
		   Mental health monitoring service to save lives
		  <br>
		  <small>React, Flask, IBM Watson</small>
		</div>
	      </div>
	    </div>
	  </center>
	</a>
		

	</div>


	        
        
      </div>
