<div id="projects" class="container">
  <div class="columns">
          
	        <a class="column" href="https://github.com/cevo-tms" target="_blank">
            <center>
              <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                    <img class="image-logo" src="images/cevotms.png" alt="">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <div class="title is-5">Cevo TMS</div>
                     Simple transportaion management service
                    <br>
                    <small>React Native, Flask, MongoDB, Docker</small>
                  </div>
                </div>
              </div>
            </center>
          </a>
  </div>

</div>
