<div id="projects" class="container" style="padding:25px; padding-top:0;"><div class="columns">
 
        <a class="column" href="https://devpost.com/software/taylor" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Taylr</div>
                Your personal assistant for interview preparation, tailored just for you.
                <br>
                <small>python, flask, bluemix, html, css, javascript, sketch, alexa, iot, natural-language-processing, amazon-web-services</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/peer-wifi-x8clai" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Peer Wifi</div>
                Buy and Sell Wifi Hotspots
                <br>
                <small>java, php, android-studio, parse, mongodb</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/rx" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Rx?</div>
                Android app that allows its user to identify the use and dosage of a prescription drug by taking a picture of it.
                <br>
                <small>python, socket.io, android-studio, microsoft-cognitive-services, flask, drugbankplus, openfda, , natural-language-processing, computer-vision</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/cunyslackers-cuny-discourse" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">CUNYSlackers (CUNY Discourse)</div>
                Aggregates and summarizes, using NLP, a classroom's worth of notes into key concepts to inform the college student.
                <br>
                <small>html5, css, jquery, bulma, node.js, firebase, bluemix, python, alchemyapi</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/fitbet-u0zhrq" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">FitBet</div>
                Stay motivated (and get paid) to hit the gym.
                <br>
                <small>java, android-studio, firebase, marvelapp, nessie</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/layterms" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Layterms</div>
                TL;DR for privacy policies so users can be informed of the data they share
                <br>
                <small>google-cloud, natural-language-processing, flask, python, javascript, chrome</small>
              </div>
            </article>
        </a>
 
    </div><div class="columns">
 
        <a class="column" href="https://devpost.com/software/focus-xr5hpf" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Focus</div>
                Selective noise-cancelling headphones
                <br>
                <small>pyaudioanalysis, python, raspberry-pi, w3, html5, machine-learning, socket.io, flask, javascript, adobe-creative-suite, photoshop</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/pawprint" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Päwprint</div>
                A service to help owners find their lost pets using image recognition and public cameras
                <br>
                <small>javascript, twilio, opencv, python, flask, docker, azure, html5, css3, mysql, blood, sweat, tears, love, more-tears</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/good-miner" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Good₿Miner</div>
                Crowdfunding & fundraising by mining cryptocurrency on the browser
                <br>
                <small>python, javascript, mongodb, amazon-web-services</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/ty" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Ty</div>
                A chat bot to promote healthy conversation between individuals with similar interests.
                <br>
                <small>azure, clarifai, flask, mongodb, facebook-graph, nltk, python</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/shane-ai" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Shane.ai</div>
                Personal resume building and designing assistant, done easy!
                <br>
                <small>python, flask, html5, css, ibm-watson, bluemix, firebase, facebook-graph</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/lawyer-ai" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">lawyer.ai</div>
                Helps Keep Immigration Lawyers on Track and Their Clients Informed
                <br>
                <small>python, react-native, ibm-watson, natural-language-processing, nltk, nexmo, node.js, scikit-learn</small>
              </div>
            </article>
        </a>
 
    </div><div class="columns">
 
        <a class="column" href="https://devpost.com/software/ru-trash" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">RU TRASH</div>
                Self moving trashcan that tracks ballistic trajectories to get the trash in the bin - environmentally friendly!
                <br>
                <small>intel-edison, opencv, arduino, webcam, python, hardware</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/antarctic-rover" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Antarctic Rover</div>
                Rover to spatially map Antarctica's growing rifts
                <br>
                <small>socket.io, arduino, webgl, 3js, flask, javascript, python, java, html5, css3, project-tango, ir-sensor</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/hawkeyes-eb5v9z" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">HawkEyes</div>
                Better reading tool for people with Dyslexia
                <br>
                <small>python, chrome, unity, tobii, opencv, java, javascript, c#, machine-learning, socket.io</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/echo-native" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Echo Native</div>
                Create Mobile Apps with Amazon Alexa!
                <br>
                <small>react-native, python, flask, socket.io, alexa, node.js, linode</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/dmp" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Digital Market Place (DMP)</div>
                A digital market place for e-commerce - revolutionizing online shopping
                <br>
                <small>flask, python, javascript, react, bulma, html5, css, ziggeo, tokbox</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/assit-bot" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Assist Bot</div>
                Go Anywhere !
                <br>
                <small>project-tango, raspberry-pi, intel-edison, intel-xdk, python, raspian, arduino, general-motors-remote, android-studio, node.js</small>
              </div>
            </article>
        </a>
 
    </div><div class="columns">
 
        <a class="column" href="https://devpost.com/software/callgov" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">CallGov</div>
                Call your local representative
                <br>
                <small>android, python, java</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/screengif" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Screengif</div>
                Record and share your phone screen as a gif
                <br>
                <small>android-studio, java, c</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/lexiko" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Lexiko</div>
                An app to help patients decipher health data from their medical reports
                <br>
                <small>flask, beautiful-soup, android, python, bulma, css, html, opencv, , json, javascript, amazon-web-services, socket.io, pil, pytesseract</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/airpenn" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">AirPenn - Accessible 3D Drawing, Beautified</div>
                A BLE connected "Penn" that allows you to draw in 3D space and beautifies the image for you with AI.
                <br>
                <small>javascript, bluetooth, accelerometer, hardware, three.js, json</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/boing-uvilog" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Boing</div>
                A device that can be configured to associate a specific sound with an action using audio fingerprinting.
                <br>
                <small>python, raspberry-pi, dejavu, flask, socket.io, twilio, android</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/image-consultant" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Image Consultant</div>
                Chrome extension that tells you how your next post with affect people's impression of you.
                <br>
                <small>python, socket.io, flask, r, javascript, ibm-watson, amazon-web-services, facebook-graph</small>
              </div>
            </article>
        </a>
 
    </div><div class="columns">
 
        <a class="column" href="https://devpost.com/software/emotification-celogq" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Emotification</div>
                Emotionally informed notification tones
                <br>
                <small>java, android, python, microsoft-cognitive-services, microsoft, amazon-web-services, natural-language-processing, machine-learning</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/pinetree" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Pinetree</div>
                Message people in your area anonymously for free.
                <br>
                <small>javascript, python, java, swift, react-native, firebase, node.js</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/opin-367m1y" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">OpIn</div>
                A Chrome extension that allows you to comment on any webpage.
                <br>
                <small>javascript, html, css, amazon-web-services, parse, node.js</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/wall-e-your-path-guide" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Wall-E, your path guide</div>
                New place and scared to navigate? Airports, hospitals, you name it, we will get you anywhere indoors or outdoors.
                <br>
                <small>java, node.js, python, intel-edison, project-tango, android-studio, 3d-printing, javascript</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/judgejudy" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Judge Judy</div>
                A slack bot that picks a side in arguments using NLP
                <br>
                <small>python, amazon-web-services, node.js, bash, google-cloud, bing</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/safecam" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">SafeCam</div>
                A desktop security camera that texts you the image of anyone coming near your table
                <br>
                <small>shell, python</small>
              </div>
            </article>
        </a>
 
    </div><div class="columns">
 
        <a class="column" href="https://devpost.com/software/smile-no-more" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Smile No More</div>
                A camera app that does not allow you to smile for photos.
                <br>
                <small>python, clarifai, android</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/sms-programming" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">SMS Programming</div>
                Text your JavaScript code and get a response.
                <br>
                <small>twilio, php</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/bumpme" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">Cheers</div>
                Bump up your fitness
                <br>
                <small>javascript, html, css, pebble, android, android-studio, node.js, express.js, ajax</small>
              </div>
            </article>
        </a>
 
    
 
        <a class="column" href="https://devpost.com/software/studybuddy-65yv1b" target="_blank">
            <article class="message">
              <div class="message-body">
                <div class="title is-5">StudyBuddy</div>
                Find study groups around you easily, connect online, share files and chat with friends in a customized interface
                <br>
                <small>html, html5, javascript, jquery, css, bootstrap, php, mongodb, hipchat, mysql, node.js, domain.com, google-maps</small>
              </div>
            </article>
        </a>
 
    </div></div>