<!DOCTYPE html>
<html>
	<head>
		<title>Md Islam - Web Developer &middot; Programmer &middot; Freelancer</title>
		<meta name="viewport" content="width=device-width, user-scalable=no" />		
		<link type="text/css" rel="stylesheet" href="styles/style.css">
	</head>

	<body>
		
		<div class="gradient one"></div>
		<div class="gradient two"></div>
		<div class="gradient three"></div>
		<div class="gradient four"></div>
		<div class="gradient five"></div>
		
		<div class="container bg-overlay">
		  <div class="heading">
		  	<center><div class="circular"><!--<img src="images/profile.jpg" alt="Md Islam" />--></div></center>
			<h1>Md Islam</h1>
		  	<h3>Developer &middot; Designer &middot; Freelancer</h3>
		  	<!-- Go to www.addthis.com/dashboard to customize your tools -->
		  	<center><div class="addthis_horizontal_follow_toolbox"></div></center>
		  </div>

		  
		  <div class="sec">
			  <strong>Web</strong>
			 <!-- <p>
				  I have experience designing and developing websites for multiple industries. By using HTML, CSS, and the Adobe Suite to design a comfortable-looking interface and by programming in JavaScript and PHP, I am able to build a website that caters to my
				  client's needs. Using modern web building technologies and Content Management Systems (CMS), like Wordpress and Joomla, I am able to develop websites that allow my clients to easily maintain and edit their sites without any profound knowledge of computers.
				  As an experienced web designer and developer, I put an emphasis on the quality of work, with an extra emphasis on usability. No tacky design elements, just what works, clear and simple.
			  </p>-->
			  <ul>
			 	<li><a href="http://newark.gslsamp.rutgers.edu" target="_blank">Newark LSAMP</a> - Website for LSAMP program in Rutgers University Newark</li>
				<li><a href="https://chrome.google.com/webstore/detail/opin/fenapelkfdoiabgffckohbbfggldadek?hl=en-US&gl=US" target="_blank">OpIn</a> - Chrome extension used to comment on any website.
			  </ul>
			  <i>Skills: HTML, CSS, PHP, Django, Flask, Nodejs, Meteor, Expressjs, Angularjs</i>
		  </div>
		  
		  
		  
		  <div class="sec">
			  <strong>Android</strong>
			  <ul>
			  	<li><a href="https://play.google.com/store/apps/details?id=com.aqurytech.savemypasswords" target="_blank">Passcode</a> - Local Password Saver</li>
			  	<li><a href="https://play.google.com/store/apps/details?id=com.aqurytech.easybuild" target="_blank">Easy Build</a> - Install and Run Your Android App More Efficiently</li>
			  	<li><a href="https://play.google.com/store/apps/details?id=com.onestepsearch.onestepsearch" target="_blank">1StepSearch</a> - Search and Download Videos, Music, Photos and More</li>
			  </ul>
			  <i>Skills: Native Java, Ionic, Xarmin</i>
		  </div>
		  

		  <div class="sec">
		  	<strong>AR/VR</strong>
		  	<br>
		  	<i>Skills: Unity3D, Leap Motion, Google Project Tango</i>
		  </div>


		  
		 <!-- <div class="sec">
			  <strong>Hackathons</strong>
			  <ul>
			  	<li><strong>HackNJIT</strong> - Won Sponsor Prize from Atlassian for implementing HipChat in web app <a href="http://devpost.com/software/studybuddy-65yv1b" target="_blank">Study Buddy</a>.</li>
			  	<li><strong>HackNY</strong> - Won third place for android app <a href="http://devpost.com/software/peer-wifi-x8clai" target="_blank">Peer Wifi</a>.</li>
			  	<li><strong>HackRU</strong> - Won Sponsor Prize from Merck for creating a fitness web & and android app <a href="http://devpost.com/software/bumpme" target="_blank">Cheers</a>.</li>
			  	<li><strong>QueensHack</strong> - Created <a href="http://devpost.com/software/sms-programming" target="_blank">SMS Programming</a> using Twilio API.</li>
			  </ul>
		  </div>-->
		  
		  
		  <footer>
		  	<p style="text-align:center;">&copy; 2016 Aqury Technologies Inc. All Rights Reserved.</p>
		  </footer>
		  
		</div>

	


		<script src="scripts/jquery.min.js"></script>		

		<script>
			$(function() {
			    fadeToggle( $('.gradient.one') );
			    fadeToggle( $('.gradient.two') );
			    fadeToggle( $('.gradient.three') );
			    fadeToggle( $('.gradient.four') );
			    fadeToggle( $('.gradient.five') );
			});
			
			function fadeToggle(el, hide) {
			    el.fadeToggle(15000,null,function() { fadeToggle(el); });
			}
		</script>
		
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-573fa19fcf9c2a71"></script>
	</body>
</html>
