html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), no-repeat center center fixed;
    -webkit-background-size: auto 100%, auto 100%, auto 100%;
    -moz-background-size: auto 100%, auto 100%, auto 100%;
    -o-background-size: auto 100%, auto 100%, auto 100%;
    background-size: auto 100%, auto 100%, auto 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right bottom, center bottom, left bottom;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}