html{
  background-color:#dedede;
}

body{
    margin:15px;
    overflow-x:hidden;
}

.clickHere {
  position:absolute;
  top:20px;
  left:20px;
  color:#ffffff;
  font-size:10px;
}

#resumeBtn {
  position: fixed;
  top:20px;
  right:20px;
  /*border-radius:25px;*/
}

#header {
  text-align:center;
  margin-bottom:0;
  /*background:url('../images/bg.jpg');*/
  /*background-position:center;*/
  /*background-size:cover;*/
  background-color:#fffff;
  color:#242424;
}

#header .title, #header .subtitle{
  color:#242424;
}

#aboutme {
  text-align: left;
}

.circular {
  position:absolute;
  margin:2px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(../images/profile.png) no-repeat;
	background-size:110px 100px;
	background-position:center;
}

.outer-circular{
  background-color:#dedede;
  width:105px;
  height:105px;
  border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  margin-bottom:15px;
  margin-left:-15px;
}

h3{
  margin-bottom:25px;
  text-align:center;
}

#projects{
  margin-top:25px;
  overflow:hidden;
  margin-bottom:25px;
  padding-bottom:25px;
}

#projects a, #projects a:hover{
  text-decoration:none;
  color:currentColor;
}

/*.card{*/
/*  border:0;*/
/*  box-shadow: 0 0 0 #999999;*/
/*}*/

.card{
  margin-top:1px;
}

.card:hover{
  -webkit-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
}

.card-content{
  background-color:#dedede;
  text-align: left;
}

.card-image{
  background-color:#ffffff;  
}

.card-content .title{
  margin-bottom:5px;
}

.message .title{
  margin-bottom:5px;
}

.image-logo{
  max-width:120px;
  max-height:120px;
  margin-left:85px;
  margin-top:15px;
}

.bg-overlay {
    background-color: rgb(215, 215, 215);
    background-color: rgba(215, 215, 215, 0.9);
    padding-top:25px;
}

.main-content{
    padding-top:25px;
    background-color:#ffffff;
}


.addthis_horizontal_follow_toolbox {
    width:180px;
    position:absolute;
    left:50%;
    margin-left:-90px;
}

.gradient {
    content: "";
    height: 100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index:-6;
}

.gradient.one {
    background-image: linear-gradient(to bottom, #009acd 0%, #00b2ee 100%);
}

.gradient.two {
    background-image: linear-gradient(to bottom, #00b2ee 0%, #62a119 100%);
    display: none;
}

.gradient.three {
    background-image: linear-gradient(to bottom, #62a119 0%, #cebb49 100%);
    display: none;
}

.gradient.four {
    background-image: linear-gradient(to bottom, #cebb49 0%, #b10f0f 100%);
    display: none;
}

.gradient.five {
    background-image: linear-gradient(to bottom, #b10f0f 0%, #bf0040 100%);
    display: none;
}

footer, .footer{
  border-top:1px #dedede solid;
  margin-top:25px;
  padding:15px;
  background-color:transparent;
  font-size:18px;
  text-align:center;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  top: 0;
  width: 600px;
  margin-top:18px;
}

.fancy span:before {
  right: 100%;
  /*margin-right: 15px;*/
}

.fancy span:after {
  left: 100%;
  /*margin-left: 15px;*/
}

.fa {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #6e5494;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope {
  background: #333333;
  color: white;
}